/ILD_DB*/
/matlab/
matlab/
TOPPATCH_16_set0_gci/
OUTPUT_PATCHES*/
OUTPUT_*/
*/OUTPUT_*/
TOPPATCH*/
/ILD-*/
/_/
_/
_TEST/
*.m
*.java
genePatchFromScan.py
/_*/
/.vscode/
.vscode/
*.pyc
.vs*
tmp*
*.pckl
TOKEN.txt
*.xlsx
TEST/
*/patches_jpeg/
*/SROIS/
.ipynb_checkpoints